// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #ff695a;
  --ion-color-primary-rgb: 255, 105, 90;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e05c4f;
  --ion-color-primary-tint: #ff786b;

  --ion-color-secondary: #ffc7c0;
  --ion-color-secondary-rgb: 255, 199, 192;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0afa9;
  --ion-color-secondary-tint: #ffcdc6;

  --ion-color-tertiary: #0c1018;
  --ion-color-tertiary-rgb: 12, 16, 24;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0b0e15;
  --ion-color-tertiary-tint: #24282f;

  --ion-color-success: #0aab7d;
  --ion-color-success-rgb: 10, 171, 125;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #09966e;
  --ion-color-success-tint: #23b38a;

  --ion-color-warning: #f9cd55;
  --ion-color-warning-rgb: 249, 205, 85;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dbb44b;
  --ion-color-warning-tint: #fad266;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #777980;
  --ion-color-medium-rgb: 119, 121, 128;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #696a71;
  --ion-color-medium-tint: #85868d;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //my css4 variables / component variables
  --my-color-darkblue: #0c1018;
  --my-color-pink: #ff695a;
  --my-color-white: #ffffff;
  --my-color-lightgray: #dedede;

  //global variables
  --my-font-family-important: "Unna", serif;
  --ion-font-family: "Poppins", sans-serif;
}

ion-toolbar {
  --background: var(--my-color-darkblue);
  --color: var(--my-color-white);
}

ion-button {
  --background: var(--my-color-pink);
  --color: var(--my-color-darkblue);
}

app-new-dish {
  --ion-background-color: var(--my-color-white);
  --ion-text-color: var(--my-color-darkblue);
}
