@import url("https://fonts.googleapis.com/css?family=Poppins|Unna&display=swap");
.dish-image {
  width: 100%;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--my-color-lightgray);
}

.asterisk {
  color: red;
}
